<header >
    <img />
</header>

<nav>
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#planes">Características</a></li>
    <li><a href="#precios">Precios</a></li>
    <li><a href="crear producto">Registar</a></li>
    <li><a href="listar">Listar</a></li>

  </ul>
</nav>


<main>
  <!-- Sección principal -->

  <section class="main-section">

    <h2>Protege tu red inalámbrica con nuestro servicio WIPS</h2>
    <br><br>
    <p class="referencia">Es nuestra responsabilidad ofrecer un medio seguro, gestionar y controlar las comunicaciones que se realizan desde nuestras instalaciones.

      Al igual que con el firewall establecemos un sistema de prevención de intrusiones en nuestra red local, es necesario proteger nuestra red contra el acceso inalámbrico no autorizado.</p>

  </section>

  <!-- Sección de características -->
  <h3>Características </h3>
  <br><br><br>
  <section class="features-section">
    <div data-aos="fade-up"
    data-aos-anchor-placement="top-center" class="testimonial">
      <blockquote>Monitoreo constante de la red inalámbrica</blockquote>
      <img src="../../assets/monitore.jpg" alt="">
    </div>

    <div data-aos="fade-up"
    data-aos-anchor-placement="top-center" class="testimonial">
    <blockquote>Detección de intrusiones en tiempo real</blockquote>
    <img src="../../assets/tiemporeal.jpg" alt="">
  </div>

  <div data-aos="fade-up"
  data-aos-anchor-placement="top-center" class="testimonial">
  <blockquote>Alertas y notificaciones automáticas en la red</blockquote>
  <img src="../../assets/alert.jpg" alt="">
</div>

<div data-aos="fade-up"
data-aos-anchor-placement="top-center" class="testimonial">
<blockquote>Generación de informes detallados de la red </blockquote>
<img src="../../assets/info.jpg" alt="">
</div>
  </section>

<br><br><br>
  <h3 id="planes">Servicios</h3>
  <section class="testimonials-section">
    <div data-aos="fade-up"
    data-aos-anchor-placement="top-center" class="testimonial">

      <img src="../../assets/302336590-1024x1024.jpg" alt="Foto del cliente" />
      <blockquote>"El servicio WIPS nos ha ayudado a proteger nuestra red de manera efectiva. ¡Muy recomendado!"</blockquote>
      <cite>John Doe, CEO de ABC Company</cite>
    </div>
    <div data-aos="fade-up"
    data-aos-anchor-placement="top-center" class="testimonial">
      <img src="../../assets/istockphoto-1152954861-1024x1024.jpg" alt="Foto del cliente" />
      <blockquote>"Gracias al servicio WIPS, ahora tenemos tranquilidad sabiendo que nuestra red está segura y protegida."</blockquote>
      <cite>Jane Smith, Directora de TI en XYZ Corporation</cite>
    </div>
  </section>



  <h3>Planes</h3>
  <br><br><br>
  <section id="precios" class="pricing-section">
    <div data-aos="zoom-out-right" class="pricing-card">
      <h4>Básico</h4>
      <p class="price">$9.99/mes</p>
      <ul>
        <li>Monitoreo de hasta 5 dispositivos</li>
        <li>Soporte por correo electrónico</li>
      </ul>
      <a href="crear producto" class="cta-button">Elegir plan</a>
    </div>

    <div data-aos="zoom-out-right" class="pricing-card">
      <h4>Pymes</h4>
      <p class="price">$19.99/mes</p>
      <ul>
        <li>Monitoreo de hasta 5 dispositivos</li>
        <li>Detección de intrusiones en tiempo real</li>
        <li>Soporte por correo electrónico y telefónico</li>

      </ul>
      <a href="crear producto" class="cta-button">Elegir plan</a>
    </div>

    <div data-aos="zoom-out-right" class="pricing-card">
      <h4>Gran Empresa</h4>
      <p class="price">$49.99/mes</p>
      <ul>
        <li>Monitoreo de hasta 10 dispositivos</li>
        <li>Detección de intrusiones en tiempo real</li>
        <li>Soporte por correo electrónico y telefónico</li>
        <li>Generación de informes personalizados</li>
      </ul>
      <a href="crear producto" class="cta-button">Elegir plan</a>
    </div>

    <div data-aos="zoom-out-right" class="pricing-card">
      <h4>Personalizado</h4>
      <p class="price">$60.99/mes</p>
      <ul>
        <li>Monitoreo de hasta 15 dispositivos</li>
        <li>Detección de intrusiones en tiempo real</li>
        <li>Asistencia por correo electrónico y telefónico</li>
        <li>Generación de informes personalizados</li>
        <li>Instalcion del servicio en dos empresas</li>
        <li>Soporte de la red 24/7</li>
      </ul>
      <a href="crear producto" class="cta-button">Elegir plan</a>
    </div>
  </section>


</main>

<footer>
  <!-- Pie de página con información adicional -->
  <div class="footer-info">
    <p>Teléfono: 55-25-13-25-91</p>
    <p>Correo electrónico: info@wipservice.com</p>
  </div>
  <div class="social-media">
    <!-- Agrega enlaces a los perfiles de redes sociales -->
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
